<footer>
    <div class="site-name">Foodieland</div>
    <ul class="navigation-links">
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About us</a></li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="copyright">
        © 2020 Foodieandco. Powered by Webflow
    </div>
    <div class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
</footer>
