<div class="container">
  <h1>Deliciousness to your inbox</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, dolores.</p>
    <div class="input">
      <form class="row g-3">
        <div class="col-auto">
          <label for="email" class="visually-hidden">email</label>
          <input type="email" class="form-control" id="inputemail" placeholder="entrer votre email">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Subscribe</button>
        </div>
      </form>
    </div>
    
</div>