<div class="row row-cols-1 row-cols-md-4 g-3 mx-5 fixe-height">
  <div class="col">
    <div class="card border-0 h-100">
      <div class="z-3 position-absolute love">
        <img src="../../../love.png" alt="">
      </div>
      <div class="z-2">
        <img src="../../../burger.png" class="card-img-top rounded" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Big and Juicy Wagyu Beef Cheeseburger </h5>
        <div class="row align-items-center">
          <div class="col">
            <img src="../../../minutes.png" alt="">
          </div>
          <div class="col">
            <div class="row align-items-center mx-0">
              <div class="col">
                <img src="../../../cuillet.png" alt="">
              </div>
              <div class="col">
                <p class="text-start fst-italic mt-3">Snack</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-0 h-100">
      <div class="z-3 position-absolute love">
        <img src="../../../love.png" alt="">
      </div>
      <div class="z-2">
        <img src="../../../poisson.png" class="card-img-top rounded" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Big and Juicy Wagyu Beef Cheeseburger </h5>
        <div class="row align-items-center">
          <div class="col">
            <img src="../../../minutes.png" alt="">
          </div>
          <div class="col">
            <div class="row align-items-center mx-0">
              <div class="col">
                <img src="../../../cuillet.png" alt="">
              </div>
              <div class="col">
                <p class="text-start fst-italic mt-3">Snack</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="col">
    <div class="card border-0 h-100">
      <div class="z-3 position-absolute love">
        <img src="../../../love.png" alt="">
      </div>
      <div class="z-2">
        <img src="../../../burger.png" class="card-img-top rounded" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Big and Juicy Wagyu Beef Cheeseburger </h5>
        <div class="row align-items-center">
          <div class="col">
            <img src="../../../minutes.png" alt="">
          </div>
          <div class="col">
            <div class="row align-items-center mx-0">
              <div class="col">
                <img src="../../../cuillet.png" alt="">
              </div>
              <div class="col">
                <p class="text-start fst-italic mt-3">Snack</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="col">
    <div class="card border-0 h-100">
      <div class="z-3 position-absolute love">
        <img src="../../../love.png" alt="">
      </div>
      <div class="z-2">
        <img src="../../../burger.png" class="card-img-top rounded" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Big and Juicy Wagyu Beef Cheeseburger </h5>
        <div class="row align-items-center">
          <div class="col">
            <img src="../../../minutes.png" alt="">
          </div>
          <div class="col">
            <div class="row align-items-center mx-0">
              <div class="col">
                <img src="../../../cuillet.png" alt="">
              </div>
              <div class="col">
                <p class="text-start fst-italic mt-3">Snack</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="col">
    <div class="card border-0 h-100">
      <div class="z-3 position-absolute love">
        <img src="../../../love.png" alt="">
      </div>
      <div class="z-2">
        <img src="../../../burger.png" class="card-img-top rounded" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Big and Juicy Wagyu Beef Cheeseburger </h5>
        <div class="row align-items-center">
          <div class="col">
            <img src="../../../minutes.png" alt="">
          </div>
          <div class="col">
            <div class="row align-items-center mx-0">
              <div class="col">
                <img src="../../../cuillet.png" alt="">
              </div>
              <div class="col">
                <p class="text-start fst-italic mt-3">Snack</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="col">
    <div class="card border-0 h-100">
      <div class="z-3 position-absolute love">
        <img src="../../../love.png" alt="">
      </div>
      <div class="z-2">
        <img src="../../../burger.png" class="card-img-top rounded" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Big and Juicy Wagyu Beef Cheeseburger </h5>
        <div class="row align-items-center">
          <div class="col">
            <img src="../../../minutes.png" alt="">
          </div>
          <div class="col">
            <div class="row align-items-center mx-0">
              <div class="col">
                <img src="../../../cuillet.png" alt="">
              </div>
              <div class="col">
                <p class="text-start fst-italic mt-3">Snack</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="col">
    <div class="card border-0 h-100">
      <div class="z-3 position-absolute love">
        <img src="../../../love.png" alt="">
      </div>
      <div class="z-2">
        <img src="../../../burger.png" class="card-img-top rounded" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Big and Juicy Wagyu Beef Cheeseburger </h5>
        <div class="row align-items-center">
          <div class="col">
            <img src="../../../minutes.png" alt="">
          </div>
          <div class="col">
            <div class="row align-items-center mx-0">
              <div class="col">
                <img src="../../../cuillet.png" alt="">
              </div>
              <div class="col">
                <p class="text-start fst-italic mt-3">Snack</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="col">
    <div class="card border-0 h-100">
      <div class="z-3 position-absolute love">
        <img src="../../../love.png" alt="">
      </div>
      <div class="z-2">
        <img src="../../../burger.png" class="card-img-top rounded" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Big and Juicy Wagyu Beef Cheeseburger </h5>
        <div class="row align-items-center">
          <div class="col">
            <img src="../../../minutes.png" alt="">
          </div>
          <div class="col">
            <div class="row align-items-center mx-0">
              <div class="col">
                <img src="../../../cuillet.png" alt="">
              </div>
              <div class="col">
                <p class="text-start fst-italic mt-3">Snack</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="two">
    
    <div class="grid">
        <div class="card" style="width: 18rem;">
            <img src="../../../fruit.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Salade de fruits tropicaux</p>
            </div>
          </div>
        
          <div class="card" style="width: 18rem;">
            <img src="../../../salade.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Salade</p>
            </div>
          </div>
        
          <div class="card" style="width: 18rem;">
            <img src="../../../steak.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Steak</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../../pate.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Pate au fromage</p>
            </div>
          </div>
        
          <div class="card" style="width: 18rem;">
            <img src="../../../sandwich.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Croque monsieur</p>
            </div>
          </div>
        
          <div class="card" style="width: 18rem;">
            <img src="../../../burger.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Burger</p>
            </div>
          </div>
    </div>
   
</div> -->
