<div class="categories">
    <div class="element">
        <div class="fs-1 fw-bolder">Categories</div>
        <div class="button"><img src="../../../buttoncategories.png" alt="buttoncategories"></div>
    </div>
    <div class="row row-cols-1 row-cols-md-6 g-4 my-5">
        <div class="col">
            <div class="card border border-0 h-100">
              <img src="../../../breakfast.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">Breakfast</h5>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card border border-0 h-100">
            <img src="../../../vegan.png" class="card-img-top" alt="cc">
            <div class="card-body">
              <h5 class="card-title text-center">Vegan</h5>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card border border-0 h-100">
              <img src="../../../meat.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">Meat</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border border-0 h-100">
              <img src="../../../dessert.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">Dessert</h5>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card border border-0 h-100">
            <img src="../../../lunch.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Lunch</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border border-0 h-100">
            <img src="../../../chocolate.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Chocolate</h5>
            </div>
          </div>
        </div>
      </div>
</div>