<app-navbar></app-navbar>
<app-carouselone></app-carouselone>
<app-categories></app-categories>
<div class="container1">
    <h1>Simple and Tasty recipes</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque reiciendis distinctio quidem quasi inventore accusantium porro commodi ea accusamus. Libero!
    </p>
</div><br><br>

<app-carouseltwo></app-carouseltwo><br><br><br><br>
<app-chef></app-chef><br><br><br><br>
<div class="container2">
   <h1>Try this delicious recipes to make your days</h1>
   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem temporibus ab possimus sequi reiciendis?</p>
</div><br><br><br><br>
<app-carouseltwo></app-carouseltwo><br><br><br><br>
<app-footer></app-footer>
