*{
    margin: 0;
    padding: 0;
}
.container1 p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2 {
    display: flex;
    justify-content: space-between; /* Pour espacer les éléments */
  }
  
.container2 h1{
    text-align: left;
    margin-left: 10%;
}
.container2 p{
    text-align: right;
    margin-left: 20px;
    padding-top: 10px;
    margin-right: 80px;
}
.lorem {
    max-width: 800px;
    margin: 0 auto;
    white-space: normal;
}
.image{
    padding-left: 11rem;
    padding-bottom: 5rem;
    width: 100%;
}